@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

* {
  font-weight: 400;
}

a.relative::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 3px;
  margin-bottom: -3px;
  background-color: #22223b;
  transition: all 0.3s ease;
}
a.relative:hover::before,
a.relative.lang-active::before {
  width: 100%;
}

.swiper-button-disabled {
  opacity: 0;
}
